* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  justify-content: center; }

body {
  background-size: cover;
  background-image: url(../images/fondo6.png);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }

h3 {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
  color: cadetblue;
  font-family: 'Architects Daughter', cursive;
  font-size: 33px;
  animation-duration: 2s;
  animation-name: aparecer; }

h5 {
  font-size: 22px; }

table, th, td {
  border: 2px solid #af4848;
  border-collapse: collapse;
  background-image: linear-gradient(rgba(146, 89, 140, 0.349), rgba(87, 130, 158, 0.432));
  margin: auto;
  width: 25%; }

th, td {
  padding: 10px; }

th {
  color: #3333a8; }

button {
  background-color: rgba(43, 121, 151, 0.37);
  width: 90px;
  height: 90px; }

ul li {
  list-style: none; }

.contacto {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Abel', sans-serif;
  color: cadetblue;
  margin-top: 20px;
  padding-bottom: 20px; }

footer {
  width: 100%;
  background-color: rgba(128, 128, 128, 0.233);
  color: #444444; }

.container-footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px; }

.container-section {
  display: flex;
  justify-content: space-between; }

.column1 {
  max-width: 400px; }
  .column1 h4 {
    font-size: 25px; }
  .column1 p {
    font-size: 14px;
    color: #535252;
    margin-top: 20px; }

.column2 {
  max-width: 400px; }

.column2 .row {
  margin-top: 20px;
  display: flex; }

.row svg {
  width: 20px;
  height: 20px; }

.row label {
  margin-top: 10px;
  margin-left: 10px; }

.column3 {
  max-width: 400px; }

.row2 {
  margin-top: 20px;
  display: flex; }
  .row2 svg {
    width: 20px;
    height: 20px; }
  .row2 label {
    margin-left: 20px;
    max-width: 160px; }

.container-footer {
  width: 100%;
  background-color: #919191c0;
  display: flex;
  justify-content: center;
  padding: 8px; }

.seccion-whatsapp {
  width: 55px;
  height: 55px;
  position: fixed;
  right: 70px;
  bottom: 30px;
  background-color: cadetblue;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 1040; }

.icono-whatsapp {
  width: 40px;
  height: 40px;
  text-decoration: none;
  color: white;
  z-index: 1040; }

.nuevo-form {
  background-color: rgba(128, 128, 128, 0.233);
  margin-bottom: 100px;
  margin-top: 80px;
  padding: 1px;
  display: flex;
  justify-content: center;
  align-items: center; }

.centrar-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }

.imagenesTienda {
  height: 400px; }

.espacios {
  margin: 20px; }
  .espacios h5 {
    display: flex;
    justify-content: center;
    color: #2b7897; }

.insta {
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 80px;
  grid-gap: 10px;
  justify-content: space-around; }

.insta iframe {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  margin-top: 50px; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@media only screen and (min-width: 360px) and (max-width: 768px) {
  .insta {
    display: flex;
    flex-wrap: wrap; } }

@media screen and (max-width: 1420px) {
  .container-section {
    flex-wrap: wrap; }
  .column1 {
    max-width: 100%; }
  .column2, .column3 {
    margin-top: 40px; } }

.carousel__imagen--tamanio {
  width: 30em; }

.borde {
  border-radius: 3%; }

.fuente {
  font-size: 15px;
  border-radius: 10%; }

.paginas {
  font-style: oblique; }

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.5em; }

.titulo {
  margin: 30px 0 80px 0;
  font-size: 38px;
  font-weight: bold; }

.boton {
  display: grid;
  justify-content: end; }
  .boton button {
    width: 10em;
    height: 3em; }

.menu {
  margin-bottom: 30px;
  justify-content: flex-end; }

.menu nav a {
  display: flex;
  justify-content: flex-end; }

.menu__iconos--fondo {
  background-color: rgba(128, 128, 128, 0.233); }

.logo {
  width: 50px; }

.preguntas > ul li {
  color: #135d5f;
  font-family: 'Architects Daughter', cursive;
  font-weight: bolder;
  font-size: 23px;
  display: list-item;
  list-style-position: inside;
  list-style-type: disc; }

.respuestas > ul li ul li {
  font-family: 'Abel', sans-serif;
  list-style-type: none;
  font-size: smaller;
  padding: 10px;
  margin-left: 50px; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  margin-right: -15px;
  margin-left: -15px; }

.box {
  border: 3px solid cadetblue;
  width: 25em;
  height: 35em;
  margin-top: 5em; }

.box .title {
  line-height: 30px;
  padding-bottom: 10px; }

.title-line {
  color: cadetblue;
  border-bottom: 2px solid cadetblue;
  margin: 0 0 15px 0; }

.title {
  font-size: 20px;
  color: cadetblue;
  font-weight: 800;
  letter-spacing: 5px;
  margin: 0 0 40px 0;
  text-transform: uppercase;
  line-height: 45px; }

.box p {
  line-height: 18px;
  margin-bottom: 120px; }

p {
  letter-spacing: 1px;
  color: #000;
  font-size: 13px;
  line-height: 23px; }

p {
  margin: 0 0 10px; }

.label {
  font-family: sans-serif; }

.header__titulo {
  background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Satisfy', cursive;
  padding-bottom: 0.2em; }

.header__parrafo {
  font-family: 'Lobster Two', cursive; }

.subtitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em; }

.subtitulo__texto {
  font-family: 'Architects Daughter', cursive;
  letter-spacing: 0.1em;
  color: cadetblue;
  padding-bottom: 0.2em; }

.header__titulo--borde {
  border: solid blue; }

.header__parrafo--tamanio {
  font-size: 50px; }

.cartel {
  background-color: rgba(114, 142, 165, 0.753);
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  margin-top: 10px; }
  .cartel p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .cartel p svg {
    margin-right: 5px; }
