
.nuevo-form{
    background-color: rgba(128, 128, 128, 0.233);
    margin-bottom: 100px;
    margin-top: 80px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}