.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 200px;
    font-family: 'Architects Daughter', cursive;
}
.input{
    width: 150px;height: 20px;
    transition: all 2s;
}
.input:focus{
    width: 200px; height: 30px;
}