.header__titulo{
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Satisfy', cursive;
    padding-bottom: 0.2em;
}

.header__parrafo{
    font-family: 'Lobster Two', cursive;
}

.subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.subtitulo__texto{
    font-family: 'Architects Daughter', cursive;
    letter-spacing: 0.1em;
    color:cadetblue;
    padding-bottom: 0.2em;
}