
$largo: 400px;
$espacio: 20px;
$titulos:rgb(43, 120, 151);

.centrar-carousel{
    display: flex;
    justify-content: center;
    align-items: center;

}
.imagenesTienda{
    height: $largo;
}
.espacios{
    margin: $espacio;
    h5{
        display: flex;
        justify-content: center;
        color: $titulos ;
    }
}

.insta{
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 80px;
    grid-gap:10px;
    justify-content:space-around;
    
}
.insta iframe{
    border: 1px solid black;
    width: 300px;
    height: 400px;
    margin-top: 50px;
}
