.logo{
    width: auto;
    height: 60px;
}
.menu{
    margin-bottom: 30px;
    justify-content: flex-end;
}
.menu nav a{
    display: flex;
    justify-content: flex-end;
}

.menu__iconos--fondo{
    background-color: rgba(128, 128, 128, 0.233);
}